body {
    -webkit-animation: bugfix infinite 1s;
    font-family: "Courier New";
    font-size: 28px;
    padding: 3em;
    margin: 3em;
}
@-webkit-keyframes bugfix { from { padding: 0; } to { padding: 0; } }

/*  111 110 101 100 011 010 001 000
     0   1   1   0   1   1   1  0   */
p.message { z-index: 99; position: fixed; left: 80%; top: 40%; width: 20%; font-size: 40px; line-height: 100px; color: red; direction: ltr;}
input { display: none; position: absolute; top: -1000px; left: -1000px; }
label {
    display: block;
    /*float: left;*/
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 5px 5px;
    margin-bottom: 50px;
}
label.header {
    display: block;
    border: none;
    direction: ltr;
    font-size: 20px;
    margin-bottom: 60px;
}

/*label:nth-of-type(5n+2) { clear: left; }*/

label::before { content: "0"; }
label.processed::before { content: "no"; }
label.carrying::before { content: "no"; }
input:checked + label::before { content: "1"; }
input:checked + label { background: green !important; }
input.carrying:checked + label::before { content: "yes"; }
input.processed:checked + label::before { content: "yes"; }
label.placeholder::before { content: "*"; }
label.header::before{ content: ""}

/*div { clear: both; }*/

/*Process the lowest digit*/
input:nth-of-type(2):not(:checked)+*+input.out {
    display: block;
}

input:nth-of-type(2):checked+*+*+*+input.carrying {
    display: block;
}

input:nth-of-type(2)+*+*+*+*+*+input.processed {
    display: block;
}

/*Process other digits*/
input.processed:checked +*+*+*+*+*+*+*+*+*+ input.processed{
    display: block;
}

input.carrying:checked +*+ input.processed:checked +*+*+*+ input.inp:not(:checked) +*+ input.out{
    display: block;
}

input.carrying:checked +*+ input.processed:checked +*+*+*+ input.inp:checked +*+*+*+ input.carrying{
    display: block;
}

input.carrying:not(:checked) +*+ input.processed:checked +*+*+*+ input.inp:checked +*+ input.out{
    display: block;
}

/*Process the carrying of the highest digit*/
input.carrying:checked +*+ input.processed:checked +*+*+*+*+ input.out{
    display: block;
}

input.carrying:checked +*+ input.processed:checked +*+*+*+*+ input.out::before { content: "+"; }

input.processed:checked +*+*+*+*+ input.out +*+*+ input.processed{
    display: block;
}

input:nth-last-of-type(1):checked ~ p.message::after{ content: 'Done!!'; }

input:focus + label {
    background: blue !important;
}

.hidden { display: none !important; }
.hidden + label { display: none !important; }
p.message + label { display: none }

#infobox {
    position: absolute;
    top: 0;
    right: 0;
    width: 350px;
}

#messages{
    list-style-type: none;
    background: #e60;
    color: white;
    padding: 13px 2.5em 13px 13px;
    font-weight: bold;
    font-family: 'Lucida Grande', 'Lucida Sans', arial, 'Helvetica';
}

#messages li {
    margin: 0;
    padding: 0;
    display: none;
}

#ready:not(:checked) ~ #messages li:first-child {
    display: inline;
}
#ready:checked ~ #messages li:first-child{
    display: none;
}

#ready:checked ~ #messages li:nth-child(2){
    display: inline;
}
input:focus:not(:checked) ~ div #messages li:nth-child(2) {
    display: none !important;
}

input:focus:not(:checked) ~ div #messages li:last-child {
    display: inline;
}
}
